// Import de la font pixel art
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Define fonts
$body-font: 'Press Start 2P', cursive;
$headers-font: 'Press Start 2P', cursive;
