<div class="chat-spinner" id="chatSpinner" style="display: none;">
  <div class="spinner-message">
    <div class="spinner-dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <p class="spinner-text">Le maître du jeu réfléchit...</p>
  </div>
</div>
