<!DOCTYPE html>
<html lang="en">
<head>

  <title>Select Your Character</title>
</head>

<body>
  <% @characters.each do |character| %>
   <%= character.name %></p>
        <% end %>




</body>
</html>
